.button {
  padding: 12px 16px;
  border-radius: 8px;
  outline: none;
  border: none;

  background: #81FE88;
  color: #132E35;

  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;
}

.button:hover {
  background: #BFFFC3;
}